In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2012.csv')

In [6]:
df = df.dropna()
df['Position'] = df['Pos Summary']
df

,Rk,Name,Age,Tm,Lg,G,GS,CG,Inn,Ch,...,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,RF/9,RF/G,Pos Summary,Name-additional,Position
2,3,Bobby Abreu,38,TOT,ZZ,54,50,20,377.2,73,...,-11.0,-33.0,-16,-50.0,0.0,1.72,1.33,OF,abreubo01,OF
3,4,Tony Abreu,27,KCR,AL,19,17,15,160.2,75,...,-2.0,-17.0,-1,-7.0,-1.0,4.15,3.52,2B-3B-SS,abreuto01,2B-3B-SS
6,7,Dustin Ackley,24,SEA,AL,147,147,138,1317.2,695,...,2.0,2.0,11,10.0,0.0,4.69,4.49,2B-1B,ackledu01,2B-1B
8,9,Matt Adams,23,STL,NL,24,23,19,194.2,225,...,-2.0,-12.0,1,6.0,0.0,10.26,9.25,1B,adamsma01,1B
15,16,Brandon Allen,26,TOT,AL,6,5,1,43.0,31,...,0.0,8.0,-1,-27.0,0.0,6.49,5.17,OF-1B,allenbr01,OF-1B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1268,1269,Eric Young Jr.,27,COL,NL,34,28,25,244.2,64,...,-1.0,-5.0,8,39.0,0.0,2.35,1.88,OF,younger03,OF
1269,1270,Matt Young,29,DET,AL,4,1,1,19.1,9,...,1.0,43.0,0,0.0,-2.0,4.19,1.50,OF-2B,youngma02,OF-2B
1270,1271,Michael Young,35,TEX,AL,85,83,74,735.0,511,...,-9.0,-15.0,-12,-19.0,-1.0,6.18,5.87,1B-3B-2B-SS,youngmi02,1B-3B-2B-SS
1274,1275,Ryan Zimmerman,27,WSN,NL,145,144,131,1280.1,379,...,-1.0,-1.0,-1,-1.0,2.0,2.53,2.48,3B,zimmery01,3B
1277,1278,Ben Zobrist,31,TBR,AL,153,152,120,1341.2,496,...,-4.0,-3.0,15,13.0,4.0,3.25,2.75,OF-2B-SS,zobribe01,OF-2B-SS

In [10]:
year = 2012
df = pd.read_csv(f'{year}.csv')
field = df.dropna()
field = field[~field['Pos Summary'].str.contains('P')]
field['Tm'] = field['Tm'].str.replace('TOT', 'MULTIPLE')
field['Lg'] = field['Lg'].str.replace('ZZ', 'MLB')
field['Season'] = year
year += 1
while year < 2024:
    tmp = pd.read_csv(f'{year}.csv')
    tmp = tmp.dropna()
    tmp = tmp[~tmp['Pos Summary'].str.contains('P')]
    tmp['Tm'] = tmp['Tm'].str.replace('TOT', 'MULTIPLE')
    tmp['Lg'] = tmp['Lg'].str.replace('ZZ', 'MLB')
    tmp['Season'] = year
    field = pd.concat([field, tmp])
    year += 1

In [11]:
field

,Rk,Name,Age,Tm,Lg,G,GS,CG,Inn,Ch,...,Fld%,Rtot,Rtot/yr,Rdrs,Rdrs/yr,Rgood,RF/9,RF/G,Pos Summary,Name-additional
2,3,Bobby Abreu,38,MULTIPLE,MLB,54,50,20,377.2,73,...,0.986,-11.0,-33.0,-16,-50.0,0.0,1.72,1.33,OF,abreubo01
3,4,Tony Abreu,27,KCR,AL,19,17,15,160.2,75,...,0.987,-2.0,-17.0,-1,-7.0,-1.0,4.15,3.52,2B-3B-SS,abreuto01
6,7,Dustin Ackley,24,SEA,AL,147,147,138,1317.2,695,...,0.988,2.0,2.0,11,10.0,0.0,4.69,4.49,2B-1B,ackledu01
8,9,Matt Adams,23,STL,NL,24,23,19,194.2,225,...,0.987,-2.0,-12.0,1,6.0,0.0,10.26,9.25,1B,adamsma01
15,16,Brandon Allen,26,MULTIPLE,AL,6,5,1,43.0,31,...,1.000,0.0,8.0,-1,-27.0,0.0,6.49,5.17,OF-1B,allenbr01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438,1439,Juan Yepez,25,STL,NL,12,8,3,65.0,14,...,1.000,-3.0,-59.0,-2,-36.0,0.0,1.94,1.17,OF,yepezju01
1439,1440,Masataka Yoshida,29,BOS,AL,87,84,69,713.1,133,...,0.977,-3.0,-6.0,-4,-6.0,1.0,1.64,1.49,OF,yoshima02
1442,1443,Jacob Young,23,WSN,NL,32,32,32,283.0,84,...,0.988,-6.0,-26.0,0,0.0,-1.0,2.64,2.59,OF,youngja03
1443,1444,Jared Young,27,CHC,NL,14,10,8,93.0,83,...,0.976,-4.0,-49.0,-3,-39.0,0.0,7.84,5.79,1B,youngja02
1449,1450,Mike Zunino,32,CLE,AL,42,41,28,339.2,296,...,0.990,-4.0,-14.0,-5,-18.0,-2.0,7.76,6.98,C,zuninmi01